.footer {
    padding: 64px 96px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer .footer_container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer .footer_container .navbar__menu-burger-cabinet {
    display: none;
}

.footer .footer_container .navbar__menu-section-menu {
    margin-right: 90px;
    margin-top: 10px;
}

.footer .footer_container .navbar__menu-section-menu ul {
    list-style: none;
}

.footer .footer_container .navbar__menu-section-menu ul li {
    margin-bottom: 10px;
}

.footer .footer_container .navbar__menu-section-menu ul li a {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    text-transform: uppercase;
    color: #171A1E;
}

.footer .footer_container .navbar__menu-section-contact {
    padding: 10px 148px 0 72px;
}

.footer .footer_container .navbar__menu-section-contact ul {
    list-style: none;
}

.footer .footer_container .navbar__menu-section-contact ul li {
    margin-bottom: 10px;
    text-decoration: none;
}

.footer .footer_container .navbar__menu-section-contact ul li a {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    text-transform: uppercase;
    color: #171A1E;
}

.footer .footer_container .navbar__menu-section-menu ul {
    list-style: none;
}

.footer .footer_container .navbar__menu-section-menu ul li {
    white-space: nowrap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    text-transform: uppercase;
    color: #171A1E;
}

.footer .footer__mail {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
    -ms-flex-align: end;
    align-items: end;
}

@media (max-width: 1240px) {
    .footer .footer_container .navbar__menu-section-menu ul li:first-child a {
        display: none;
    }
}

@media (max-width: 992px) {
    .footer__mail {
        margin-top: 40px;
    }

    .footer {
        padding: 64px 26px;
    }
}

@media (max-width: 768px) {
    .footer .footer_container {
        padding: 40px 0;
        width: 100%;
        border-top: 1px solid rgba(23, 26, 30, 0.1176470588);
        border-bottom: 1px solid rgba(23, 26, 30, 0.1176470588);
    }
}

@media screen and (max-width: 606px) {
    .footer .footer_container .navbar__menu-section-contact {
        padding: 10px 148px 0 22px;
    }
}