.location__body {
    background: rgba(0, 0, 0, 0.0235294118);
    overflow: hidden;
}

.location__body .location__container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0px 99px;
    padding: 68px 0;
    border-top: 1px solid rgba(23, 26, 30, 0.1176470588);
    min-height: 100%;
    overflow: hidden;
}

.location__body .location__container p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #171A1E;
}

.location__body .location__container .location__tab {
    margin-top: 60px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.location__body .location__container .location__tab .location__tab-menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.location__body .location__container .location__tab .location__tab-menu a {
    margin-right: 30px;
    cursor: pointer;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    text-transform: uppercase;
    color: #171A1E;
    opacity: 0.3;
}

.location__body .location__container .location__tab .location__tab-menu a:hover, .location__body .location__container .location__tab .location__tab-menu a:focus {
    opacity: 1;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    text-transform: uppercase;
    color: #171A1E;
}

.location__body .location__container .location__tab .location__tab-img {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 16px;
    border-top: 1px solid rgba(23, 26, 30, 0.1176470588);
    padding: 40px 0 100px 0;
    border-bottom: 1px solid rgba(23, 26, 30, 0.1176470588);
}

.location__body .location__container .location__tab .location__tab-img .location__card {
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex: 1 1 33%;
    flex: 1 1 33%;
}

.location__body .location__container .location__tab .location__tab-img .location__card .location__card-container {
    padding: 16px;
}

.location__body .location__container .location__tab .location__tab-img .location__card .location__card-container img {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.location__body .location__container .location__tab .location__tab-img .location__card .location__card-container .swiper-slide-img h4 {
    margin: 40px 0 0 0;
}

.location__body .location__container .location__tab .location__tab-img .location__card .location__card-container .swiper-slide-img p {
    padding-bottom: 28px;
}

.location__body .location__container .location__tab .location__tab-img .location__card .location__card-container .swiper-slide-img img {
    width: 16px;
}

.location__body .location__container .location__tab .location__tab-img .location__card_:target {
    display: block;
}

.location__body .location__container .location__tab .location__tab-img .location__item {
    display: none;
}

.location__body .location__container .location__call {
    margin-top: 100px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.location__body .location__container .location__call button {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 276px;
    height: 52px;
    border: 1px solid #171A1E;
    font-family: "Inter";
    margin-top: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #171A1E;
}

.location__body .location__container .location__call button:hover {
    background: #171A1E;
    color: #FFFFFF;
}

@media screen and (max-width: 992px) {
    .location__body .location__container {
        margin: 0 24px;
        padding: 68px 0;
    }

    .location__body .location__container .location__tab .location__tab-img .location__item {
        margin: 0 0px 16px 0;
    }

    .header .navbar-container .navbar-logo .navbar__logo-text {
        padding: 19px 15px;
    }

    #navbar__menu-burger-icon {
        padding: 24px 24px 0 0;
    }
}

@media screen and (max-width: 786px) {
    .location__body .location__container .location__call {
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .location__body .location__container .location__tab .location__tab-img .location__card {
        -ms-flex: 1 1 50%;
        flex: 1 1 50%;
    }
}

@media screen and (max-width: 553px) {
    .location__body .location__container .location__tab .location__tab-img .location__item {
        display: block;
        margin: 0 auto;
    }

    .location__body .location__container .location__tab .location__tab-img .location__item button {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        width: 276px;
        height: 52px;
        border: 1px solid #171A1E;
        font-family: "Inter";
        margin-top: 20px;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #171A1E;
    }

    .location__body .location__container .location__tab .location__tab-img .location__item button:hover {
        background: #171A1E;
        color: #FFFFFF;
    }

    .location__body .location__container .location__tab .location__tab-img .location__card {
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }
}

@media screen and (max-width: 350px) {
    .location__body .location__container .location__tab .location__tab-img .location__item .container-location {
        padding: 10px;
    }

    .location__body .location__container .location__call button button, .location__body .location__container .location__tab .location__tab-img .location__item button {
        padding: 0 0px;
        max-width: 256px;
    }

    .location__body .location__container .location__tab .location__tab-img .location__section .location__section-litle-img, .location__body .location__container .location__tab .location__tab-img .location__section .location__section-big-img {
        padding: 10px 0px;
    }
}