.popup-win, .popup-win-podtv {
    z-index: -10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
    opacity: 0;
    visibility: hidden;
}

.popup-win .popup-body, .popup-win-podtv .popup-body {
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.popup-win .popup-body .popup__content, .popup-win-podtv .popup-body .popup__content {
    background-color: #f2f2f2;
    color: #171A1E;
    max-width: 1440px;
    width: 100%;
    position: relative;
    padding: 46px 69px 36px 100px;
    opacity: 0;
    transition: all 0.8s ease 0s;
    -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup-win .popup-body .popup__content .popup__close, .popup-win-podtv .popup-body .popup__content .popup__close {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    position: absolute;
    top: 45px;
    right: 97px;
    font-size: 20px;
    text-decoration: none;
    color: #171A1E;
    opacity: 0;
    visibility: hidden;
}

.popup-win .popup-body .popup__content .popup__tabs-window .popup__tab:target, .popup-win-podtv .popup-body .popup__content .popup__tabs-window .popup__tab:target {
    display: block;
}

.popup-win .popup-body .popup__content, .popup-win-podtv .popup-body .popup__content {
    opacity: 1;
    visibility: visible;
    transition: all 0.8s ease 0s;
    -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
}

.popup-win.open, .popup-button-podtv.open {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    background: rgba(21, 19, 19, 0.631372549);
}

.popup-win.open .popup__content, .popup-button-podtv.open .popup__content {
    opacity: 1;
    transition: all 0.8s ease 0s;
    -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
}

.popup-win .popup-body {
    max-width: 1440px;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
}

.popup-win .popup-body .popup__content .tabs .tabs__content .tab .modal-tab__container {
    margin-bottom: 40px;
}

.popup-win .popup-body .popup__content .tabs .tabs__content .tab .modal-tab__container h3 {
    padding-bottom: 28px;
}

.popup-win .popup-body .popup__content .tabs .tabs__content .tab .modal-tab__container .location__tab {
    display: block;
    max-height: 504px;
}

.popup-win .popup-body .popup__content .tabs .tabs__content .tab .modal-tab__container .location__tab .location__tab-menu {
    margin-bottom: 22px;
}

.popup-win .popup-body .popup__content .tabs .tabs__content .tab .modal-tab__container .location__tab .location__tab-menu a {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    text-transform: uppercase;
    color: #171A1E;
    margin-right: 30px;
}

.popup-win .popup-body .popup__content .tabs .tabs__content .tab .modal-tab__container .location__tab .location__tab-img {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-height: 504px;
    overflow-x: auto;
    margin-top: 40px;
}

.popup-win .popup-body .popup__content .tabs .tabs__content .tab .modal-tab__container .location__tab .location__tab-img .swiper-slide {
    -ms-flex: 0 1 14.5%;
    flex: 0 1 14.5%;
    padding-bottom: 40px;
    opacity: 0.3;
}

.popup-win .popup-body .popup__content .tabs .tabs__content .tab .modal-tab__container .location__tab .location__tab-img .swiper-slide .location__card-container a img {
    width: 100%;
    min-width: 128px;
}

.popup-win .popup-body .popup__content .tabs .tabs__content .tab .modal-tab__container .location__tab .location__tab-img .swiper-slide .location__card-container a .swiper-slide-img p {
    display: none;
}

.popup-win .popup-body .popup__content .tabs .tabs__content .tab .modal-tab__container .location__tab .location__tab-img .swiper-slide .location__card-container a .swiper-slide-img h4 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    color: #171A1E;
    margin-top: 18px;
}

.popup-win .popup-body .popup__content .tabs .tabs__content .tab .modal-tab__container .location__tab .location__tab-img .swiper-slide:hover {
    opacity: 1;
}

.popup-win .popup-body .popup__content .tabs .tabs__content .tab .modal-tab__container .location__tab .location__tab-img .swiper-slide:focus {
    opacity: 1;
}

.popup-win .popup-body .popup__content .tabs .tabs__content .tab .modal-tab__container .location__tab .location__tab-img .location__item {
    display: none;
}

.popup-win .popup-body .popup__content .tabs .tabs__content .tab .modal-tab__container .location__call {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    float: right;
    padding-right: 20px;
}

.popup-win .popup-body .popup__content .tabs .tabs__content .tab .modal-tab__container .location__call button {
    margin: 80px 0 20px 0;
    padding: 18px 40px 18px 40px;
}

.popup-win .popup-body .popup__content .tabs .tabs__content .tab .flex-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.popup-win .popup-body .popup__content .tabs .tabs__content .tab .flex-container .flex-element {
    max-width: 294px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex: 0 1 30%;
    flex: 0 1 30%;
}

.popup-win .popup-body .popup__content .tabs .tabs__content .tab .flex-container .flex-element .flex-element-calendar {
    max-width: 294px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.popup-win .popup-body .popup__content .tabs .tabs__content .tab .flex-container .flex-element .grid-item, .popup-win .popup-body .popup__content .tabs .tabs__content .tab .flex-container .flex-element .grid-item-next-mons {
    border: 1px solid rgba(205, 203, 203, 0.5529411765);
    width: 40px;
    height: 25px;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    -webkit-font-feature-settings: "tnum" on, "lnum" on;
    font-feature-settings: "tnum" on, "lnum" on;
    color: #171A1E;
    opacity: 0.5;
    padding-top: 15px;
}

.popup-win .popup-body .popup__content .tabs .tabs__content .tab .flex-container .flex-element .grid-item:hover, .popup-win .popup-body .popup__content .tabs .tabs__content .tab .flex-container .flex-element .grid-item:focus, .popup-win .popup-body .popup__content .tabs .tabs__content .tab .flex-container .flex-element .grid-item-next-mons:hover, .popup-win .popup-body .popup__content .tabs .tabs__content .tab .flex-container .flex-element .grid-item-next-mons:focus {
    opacity: 1;
    font-weight: 600;
    color: white;
    background: #000;
}

.popup-win .popup-body .popup__content .tabs .tabs__content .tab .flex-container .flex-element .grid-item-next-mons {
    opacity: 0.3;
}

.popup-win .popup-body .popup__content .tabs .button-flex-block {
    display: -ms-flexbox;
    display: flex;
    font-display: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.popup-win .popup-body .popup__content .tabs .button-flex-block .location__call {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    float: right;
    padding-right: 20px;
}

.popup-win .popup-body .popup__content .tabs .button-flex-block .location__call button {
    margin: 80px 0 20px 0;
    padding: 18px 40px 18px 40px;
}

#close-popup {
    padding: 5px 5px 0 5px;
    margin: 46px 98px 0 0;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
    cursor: pointer;
    border: 1px solid rgba(83, 82, 82, 0.5098039216);
}

@media screen and (max-width: 992px) {
    .popup-win .popup-body .popup__content {
        padding: 46px 10px 36px 10px;
    }

    .popup-win .popup-body .popup__content .tabs .tabs__content .tab .modal-tab__container .location__tab .location__tab-img .swiper-slide {
        -ms-flex: 0 1 23%;
        flex: 0 1 23%;
        padding-bottom: 40px;
    }

    .popup-win .popup-body .popup__content .tabs .tabs__content .tab .modal-tab__container .location__tab .location__tab-img .swiper-slide .location__card-container a img {
        width: 100%;
        min-width: 128px;
    }
}

@media screen and (max-width: 768px) {
    .popup-win .popup-body .popup__content .tabs .tabs__content .tab .modal-tab__container .location__tab .location__tab-img .swiper-slide {
        -ms-flex: 0 1 48%;
        flex: 0 1 48%;
        padding-bottom: 40px;
    }

    .popup-win .popup-body .popup__content .tabs .tabs__content .tab .modal-tab__container .location__tab .location__tab-img .swiper-slide .location__card-container a img {
        width: 100%;
        min-width: 128px;
    }

    .popup-win .popup-body .popup__content .tabs .tabs-nav {
        display: non;
    }

    .popup-win .popup-body .popup__content .tabs .tabs-nav .tabs-nav__item span {
        display: none;
    }
}