.wrapper {
    margin: 0 auto;
    width: 100%;
}

.tabs__nav {
    max-width: 75%;
}

.tabs-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.tabs-nav .tabs-nav__item {
    border-top: 2px solid transparent;
    cursor: pointer;
    -ms-flex: 1;
    flex: 1;
    padding: 20px 0;
    border-color: #171A1E;
    margin-right: 32px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.5;
    transition: all 0.8s ease 0s;
}

.tabs-nav .tabs-nav__item.is-active {
    border-color: #171A1E;
    opacity: 1;
    transition: all 0.8s ease 0s;
}

.tab {
    background-color: #f2f2f2;
    display: none;
    padding: 20px;
}

.tab.is-active {
    display: block;
}